<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
     <style>
        h2{color:black;
      padding:20px;
      text-align:center;
      }
      body{
      font-family:verdana;
      }
      .reg{
      text-align:center;
      color:black;;
      padding:20px;
      }
      label{
      padding:80px;
      }
      .button{padding:20px;
      }
    </style>
</head>
<body style="background-image:url({% static 'images/tr2.jpg' %});">
<h2>REGISTRATION</h2>
<form action="register" method="post">
    {% csrf_token %}
        <div class="reg">
            <label><b>Username</b></label>
            <input type="text" name="username" placeholder="Enter User Name"><br><br><br>
            <label><b>First Name</b></label>
            <input type="text" name="first_name" placeholder="Enter First Name"><br><br><br>
            <label><b>Last Name</b></label>
            <input type="text" name="last_name" placeholder="Enter Last Name"><br><br><br>
            <label><b>Email Address</b></label>
            <input type="email" name="email" placeholder="Enter Email Address"><br><br><br>
            <label><b>Password</b></label>
            <input type="password" name="password" placeholder="Enter Password"><br><br><br>
            <label><b>Confirm Password</b></label>
            <input type="password" name="password1" placeholder="Confirm Password"><br><br><br>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
        </div>
</form>
    {% for msg in messages %}
    <h2>{{msg}}</h2>
    {% endfor %}
</body>
</html>